
<!-- <form [formGroup]="carDetails" (ngSubmit)="onSubmit()">

  <label>Car Owner</label>
  <input type="text" formControlName="carOwnerName">

  <label>Contact</label>
  <input type="text" formControlName="contactNumber">

  <label>Modal Name</label>
  <input type="text" formControlName="carModelName">

  <label>Price</label>
  <input type="text" formControlName="carPrice">

  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->

<form [formGroup]="userDetails">
<table class="tableData">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Country</th>
    <th scope="col">State</th>
   
    <th *ngIf="addNewRow == false"> <button type="button" class="btn btn-primary" (click)="addNewRowToTable()">Add</button>
    <th *ngIf="addNewRow == true"> <button type="button" class="btn btn-success" (click)="onSubmit()">Submit</button>
  </tr>
  </thead>
  <tbody>
    <ng-template [ngIf]="addNewRow == true">
      <tr>
        <td></td>
        <td><input type="text" formControlName="name"></td>
        <td>
          <select formControlName="country" (change)="selectedCountry($event)">
            <option value=" ">Select Country</option>
            <option *ngFor="let country of countries">{{country}}</option>
          </select>
        </td>
        <td>
          <select formControlName="state">
            <option value=" ">Select State</option>
            <option *ngFor="let state of selectedStates">{{state}}</option>
          </select>
        </td>
      </tr>
    </ng-template>
   <tr *ngFor="let data of displayData; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      <div *ngIf="data.id == editDataId">
        <input type="text" formControlName="name">
      </div>
      <div *ngIf="data.id != editDataId">
        {{ data.name }}
      </div>
    </td>
    <td>
      <div *ngIf="data.id == editDataId">
        <select formControlName="country" (change)="selectedCountry($event)">
          <option *ngFor="let country of countries" [value]="country">{{country}}</option>
          
        </select>
      </div>
      <div *ngIf="data.id != editDataId">
        {{ data.country }}
      </div>
    </td>
    <td>
      <div *ngIf="data.id == editDataId">
        <select formControlName="state">
          <option *ngFor="let state of selectedStates" [value]="state">{{state}}</option>
        </select>
      </div>
      <div *ngIf="data.id != editDataId">
      {{data.state}}
      </div>
    </td>
   
    <td>
    <div class="actionButtons">
      <div *ngIf="data.id == editDataId">
        <button type="button" class="action btn btn-success" (click)="onSubmit()">update</button> 
      </div>
      <div *ngIf="data.id != editDataId">
        <button type="button" class="action btn btn-warning" (click)="editData(data)">Edit</button>
      </div>
      <div>
        <button type="button" class="btn btn-danger" (click)="deleteData(data.id)">Delete</button>
      </div>
    </div>
    </td>
   </tr>
  </tbody>
</table>
</form>